<nav class="pal">
    <h2 class="txtc h1-like">Sscank</h2>
    <ul class="unstyled">
        <li><a href="#sscank">Sscank</a></li>
        <li><a href="#variables">Variable</a></li>
        <li><a href="#mixins">Mixins</a></li>
        <li><a href="#reset">Reset</a></li>
        <li><a href="#print">Print</a></li>
        <li><a href="#alignment">Alignment</a></li>
        <li><a href="#dimension">Dimension</a></li>
        <li><a href="#spacing">Spacing</a></li>
        <li><a href="#layout">Layout</a></li>
        <li><a href="#flexbox">Flexbox</a></li>
        <li><a href="#form">Form</a></li>
        <li><a href="#grid">Grid</a></li>
        <li><a href="#responsive">Responsive</a></li>
        <li><a href="#table">Table</a></li>
        <li><a href="#icon">Icon</a></li>
    </ul>
    <ul class="bottom mbl unstyled">
        <li>Simon constans</li>
        <li>github: <a href="https://github.com/kosssi">kosssi</a></li>
        <li>kosssi[at]gmail.com</li>
    </ul>
</nav>
