/*
 * Alignment
 *
 * By kosssi (Simon Constans) CC-BY 3.0
 * Fork of KNACSS (Raphael Goetter, Alsacreations) : http://www.knacss.com/
 *
 * r, l, c, h = right, left, center, hidden
 */


.hidden { display: none; }

// positions
.posr { position: relative; }
.posa { position: absolute; }
.posf { position: fixed; }

// text
.txtr { text-align: right; }
.txtl { text-align: left; }
.txtc { text-align: center; }
.txth { text-indent: -9999px; }

// horizontal alignments
.left { float: left; }
.center { margin-right: auto; margin-left: auto; }
.right { float: right; }

// vertical alignments
.box {
    .posr;

    .top { top: 0; }
    .bottom { bottom: 0; }
    .bottom, .top {
        .posa;

        &.left { left: 0; float: none; }
        &.center { left: 0; right: 0;  }
        &.right { right: 0; float: none; }
    }
}

// vertical alignments
.box5 {
    .posr;

    & > * {
        .posa;
        top: 0; right: 0; bottom: 0; left: 0;
        .flex;
    }

    .top { .align-items(flex-start); }
    .middle { .align-items(center); }
    .bottom { .align-items(flex-end); }

    .left { .justify-content(flex-start); float: none; }
    .center { .justify-content(center); }
    .right { .justify-content(flex-end); float: none; }

    .vertical { .flex-direction(column) }
    .horizontal { .flex-direction(row) }
}
